@{
    ViewBag.Title = "Pospółka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body{
    <div class="right">
        <section class="tekst">
            <h1 class="ng">Pospółka</h1>
            <div>
                <p class="articleText">
                    <a class="fancybox" rel="pospółka" href="~/Images/kruszywa/pospolka.jpg" title="Posółka">
                        <img class="agregateImage" style="width:100%; height:100%;" src="~/Images/kruszywa/pospolka.jpg" alt="Pospółka" title="Pospółka"/> 
                        <label style="float:right">Kliknik aby powiększyć</label>
                    </a>
                    <p class="articleText">
                        <strong>Uziarnienie graniczne: </strong> 0,075 - 63 mm<br />
                        <strong>Cena: </strong> 19 zł/tona<br />
                        <strong>Opis: </strong> Pospółka ze względu na dobre właściwości filtracyjne, mechaniczne i dużą nośność - jest materiałem często wykorzystywanym w budownictwie jako podbudowa pod fundamenty, w drogownictwie do wykonania warstw odsączających nasypów drogowych (współczynnik filtracji k > 8 m/dobę) i w pokrewnych dziedzinach.<br />
                    </p>
                </p>
            </div>
        </section>
    </div>
}
