*.user
/Betotrans/packages
/Betotrans/Betotrans/bin
/Betotrans/Betotrans/obj
/packages
/Betotrans/bin
/Betotrans/obj
/*.suo

/Betotrans.DataAccess/bin/Debug

/Betotrans.DataAccess/bin/Release
/Betotrans.DataAccess/obj
