@{
    ViewBag.Title = "Oferta";
}

@section Body {
<div class="right">
			<div class="tekst">
            	<h1 class="ng">Sprzedaż kruszyw do celów budownictwa</h1>
                 <table id="tabelaOferta" class="tabelka" style="width:95%;">
                     <tbody data-bind="foreach: ofertaBudowlanaWierszeKolumny">
                         <tr>
                             <!-- ko foreach: $data -->
                                <td>
                                    <a class="fancybox" rel="budowlane" data-bind="attr:{title: title, href : src}"><img data-bind="attr:{src:miniSrc, alt:title}"/></a>
                                </td>
                             <!-- /ko -->
                         </tr>
                     </tbody>
				</table>
				
				<h1 class="ng">Sprzedaż kruszyw do celów drogownictwa</h1>
				
				<h1 class="ng">Sprzedaż materiałów do celów ogrodniczych</h1>

                 <table id="Table1" class="tabelka" style="width:95%;">
                     <tbody data-bind="foreach: ofertaOgrodniczaWierszeKolumny">
                         <tr>
                             <!-- ko foreach: $data -->
                                <td>
                                    <a class="fancybox" rel="groupaBudowlana" data-bind="attr:{title: title, href : src}"><img data-bind="attr:{src:miniSrc, alt:title}" /></a>
                                </td>
                             <!-- /ko -->
                         </tr>
                     </tbody>
				</table>

                <h1 class="ng">Usługi transportowe samochodami samowyładowczymi</h1>
                <h1 class="ng">Usługi HDS</h1>
                <h1 class="ng">Wynajem koparki i ładowarki</h1>
            </div>
		</div>
}
