@charset "utf-8";
/* CSS Document */

body{
	background:#AEC1CB;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}

.pds{
	width:1000px;
	position:relative;
	margin:0 auto;
	font-size:12px;
}
.s{
	background:url(../images/tlo.jpg) repeat-y; height:100%;
	padding:15px 0px;
}
.left{
	width:190px;
	padding-left:43px;
	float:left;
}
.right{
	width:675px;
	padding-left:36px;
	float:left;
}

.menu{ height:52px; background:url(../images/t3.jpg) no-repeat;}
.menu ul{ list-style:none; margin:0px; padding:0px 0px 0px 60px; }
.menu li{ float:left; display:inline-block;}
.menu a{ font-size:18px; font-weight:normal; color:#fff;  text-decoration:none; display:inline-block; padding:12px 30px; font-family:Arial Narrow, Arial, Verdana;}
.menu a:hover{ background:url(../images/t3b.jpg); color:#FFFF99;}

.ng{
	font-size:18px; margin:10px 0px; padding:10px 50px; 
	background:url(../images/ng.jpg) no-repeat; font-weight:normal; 
	

}
.tekst{color:#386483;  }
.tekst p{
	margin:0;
	padding:5px 10px;
}
.m-tlo{ background: url(../images/m2.gif) repeat-y; padding:5px; }

.m{ list-style:none; margin:0; padding:0; }
.m li{ margin:1px; border-bottom:1px solid #EFEFEF;}
.m a{ text-decoration:none; padding:6px 2px 6px 30px; display:block; margin-bottom:1px; color:#006699; background:url(../images/arrow.gif) no-repeat left center;}
.m a:hover{ background:#3e9ec1; color:#fff; }

img{ border:0; }

.tabelka{ margin:10px;  border-top:1px solid #DECDAB ;  border-left:1px solid #DECDAB ; }
.tabelka td
{ 
    padding:5px 10px; 
    border-bottom:1px solid #DECDAB;
    border-right:1px solid #DECDAB; 
    background:#FDF7EA;
    text-align: center;
}

.tabelkaReferencje
{ 
    margin:10px;
}
.tabelkaReferencje td
{ 
    padding:5px 10px; 
    text-align: center;
    vertical-align:bottom;
}

.tabelkaReferencjePapierowe
{ 
    margin:10px;
}
.tabelkaReferencjePapierowe td
{ 
    padding:5px 10px; 
    text-align: center;
    vertical-align:top;
}


a{
    color:#FF9900;
    text-decoration:none;
}

.stopka{
	background:url(../images/stopka.jpg) no-repeat; 
	font-size:11px; 
	color:#46798C;
	padding:25px 50px 50px 70px;
}

.podpisPodOfera
{
    
}

.modalImageOferta {
	
}

.articleText
{
    text-align: justify;
	
}